/*! 11.adminbar.quicklinks */

#wpadminbar .quicklinks {
    .ab-top-menu > li > a.ab-item {
        line-height: @adminbarheight;

        > .ab-label {
            height: @adminbarheight;
            line-height: @adminbarheight;
            vertical-align: top;
        }

        > .ab-icon {
            line-height: @adminbarheight;

            &:before {
                top: 0;
            }
        }
    }

    .menupop ul.ab-sub-secondary {
        background-color: @adminbarhoverbackgroundcolor;
    }

    .ab-empty-item, a {
        height: @adminbarheight;
        line-height: @adminbarheight;
    }

    .menupop ul li a,
    .menupop.hover ul li a {
        color: @adminbarcolor;

        &:focus, &:hover {
            color: @adminbarhovercolor;
        }
    }
}

#wpadminbar > #wp-toolbar > #wp-admin-bar-root-default > li > a.ab-item {
    line-height: @adminbarheight;

    > .ab-icon {
        line-height: @adminbarheight;
        padding: 0;
    }

    &:before,
    > .ab-icon:before {
        line-height: @adminbarheight;
        padding: 0;
        top: 0;
    }
}

#wpadminbar .quicklinks .menupop ul li a:hover,
#wpadminbar .quicklinks .menupop ul li a:focus,
#wpadminbar .quicklinks .menupop ul li a:hover strong,
#wpadminbar .quicklinks .menupop ul li a:focus strong,
#wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover > a,
#wpadminbar .quicklinks .menupop.hover ul li a:hover,
#wpadminbar .quicklinks .menupop.hover ul li a:focus,
#wpadminbar .quicklinks .menupop.hover ul li div[tabindex]:hover,
#wpadminbar .quicklinks .menupop.hover ul li div[tabindex]:focus,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus {
    color: @adminbarhovercolor;
}
