/*! 20.messages */

.notice,
#update-nag,
.update-nag,
div.updated,
div.error {
    background-color: fade(@sidebarhoverbackgroundcolor, 2.5%);
    border-radius: @defaultborderradius;
}

#update-nag,
.update-nag {
    display: block;
    margin: 25px 4px 0 2px;
}

