/*! 25.navs */

h2.nav-tab-wrapper {
    background: @whitecolor;
    padding: 9px 2% 0;

    .nav-tab {
        margin-left: 0;
        margin-right: 7px;
    }

    .nav-tab-active,
    .nav-tab-active:focus,
    .nav-tab-active:focus:active,
    .nav-tab-active:hover {
        background: lighten(@blackcolor, 70%);
        border-bottom-color: lighten(@blackcolor, 70%);
    }
}
