/*! 30.tables */

// globals

table.widefat thead td.check-column,
table.widefat tbody th.check-column,
table.updates-table tbody td.check-column,
table.widefat tfoot td.check-column {
    padding-left: 12px;
}

// colors

table.widefat,
.wp-editor-container,
.stuffbox,
p.popular-tags,
.widgets-holder-wrap,
.popular-tags,
.feature-filter,
.imgedit-group,
.comment-ays {
    background: transparent;

    th, td {
        color: @tablecolor;
    }
}

table.widefat thead tr,
table.widefat tfoot tr {
    background-color: fade(@boxbackgroundcolor, 50%);

    th, td, th a, td a {
        color: @tabletitlecolor;
    }
}

.striped > tbody > :nth-child(odd),
ul.striped > :nth-child(odd),
.alternate {
    background-color: @tableoddbackgroundcolor;
}

.row-title {
    color: @tabletitlecolor;
}
