/*! 30.tables */

// Global

.widefat td,
.widefat td p,
.widefat td ol,
.widefat td ul {
    font-size: 11px;
}

// Default table

.form-table {
    tr:nth-child(odd) {
        background-color: fade(@blackcolor, 1.5%);
    }

    th {
        padding: 20px 0 20px 10px;

        label small {
            display: block;
        }
    }
}

table.fixed {
    border: none;
    box-shadow: none;
}

.striped > tbody > :nth-child(odd),
ul.striped > :nth-child(odd),
.alternate {
    background-color: fade(lighten(@blackcolor, 10%), 1.5%);
}

// Action toolbox

.row-actions {
    padding-top: 4px;
    text-transform: uppercase;

    span {
        display: inline-block;
        font-size: 0;
        margin: 0 10px 0 0;

        a, button {
            font-size: 10px;
            text-transform: uppercase;
        }
    }
}

// Unapprouved

#the-comment-list .unapproved th.check-column {
    border-left: 4px solid @errorcolor;
}
#the-comment-list .unapproved th, #the-comment-list .unapproved td {
    background-color: fade(@errorcolor, 5%);
}

// Active

.plugins .active th.check-column, .plugin-update-tr.active td {
    border-left: 4px solid @infocolor;
}
.plugins .active td, .plugins .active th {
    background-color: fade(@infocolor, 5%);
}
.plugins .active.update th.check-column, .plugins .active.update+.plugin-update-tr .plugin-update {
    border-left: 4px solid @errorcolor;
}
.plugins .active.update td, .plugins .active.update th, tr.active.update+tr.plugin-update-tr .plugin-update, tr.active+tr.plugin-update-tr:not(.updated) .plugin-update .update-message {
    background-color: fade(@errorcolor, 5%);
}
.plugin-card .install-now:before, .plugin-card .update-now:before, .plugin-update-tr .update-message:before {
    color: @errorcolor;
}
.plugin-update-tr .update-message {
    line-height: 20px;

    &.updated-message {
        background-color: fade(@infocolor, 15%);
    }
}
.plugin-card .install-now:before, .plugin-card .update-now:before, .plugin-update-tr.updated .update-message.updated-message:before {
    color: @successcolor;
}

// Post comment awaiting

.column-response .post-com-count-pending, .column-comments .post-com-count-pending {
    background-color: @errorcolor;
}

// Extension to update

.plugin-update-tr .update-message:before, .plugin-card .update-now:before, .plugin-card .install-now:before {
    color: @errorcolor;
}
