/*! 41.meta.screen */

// container

#screen-meta {
    background-color: @sidebarbackgroundcolor;
    box-shadow: @boxboxshadow;
}

#screen-options-wrap {
    color: @sidebarcolor;
}

// screen meta links

#screen-meta-links .show-settings {
    background-color: @adminbarbackgroundcolor;
    border-radius: 0 0 @buttonborderradius @buttonborderradius;
    border-top: 0;
    box-shadow: @boxboxshadow;
    color: @adminbarcolor;
    height: 27px;
    text-transform: none;
}

// content

#contextual-help-back {
    background: @sidebarhoverbackgroundcolor;
    left: @dropdownwidth;
    right: @dropdownwidth;
}

.contextual-help-sidebar {
    color: @sidebarcolor;
    width: @dropdownwidth;

    a {
        color: @iconfocus;
    }
}

.contextual-help-tabs {
    width: @dropdownwidth;

    li {
        a {
            border: 1px solid transparent;
            border-left: none;
            border-right: none;
            color: @sidebarcolor;
        }

        &.active {
            background: @sidebarhoverbackgroundcolor;
            border-left-color: @iconfocus;

            a {
                color: @iconfocus;
            }
        }
    }
}

.contextual-help-tabs-wrap {
    color: @sidebarcolor;
}
