/*! 50.post */

// category and tag list

.wp-tab-panel,
.categorydiv div.tabs-panel,
.customlinkdiv div.tabs-panel,
.posttypediv div.tabs-panel,
.taxonomydiv div.tabs-panel {
    background-color: fade(@boxbackgroundcolor, 50%);
    border: @boxborder;
}

// WYSIWYG

.quicktags-toolbar {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

// Guttenberg

.components-panel__header.edit-post-sidebar__panel-tabs ul {
    margin-top: 0;

    .edit-post-sidebar__panel-tab.is-active {
        box-shadow: none;
    }
}

.block-editor-block-list__insertion-point-indicator {
    background-color: @primarycolor;
}

.block-editor-block-list__insertion-point-inserter .block-editor-inserter__toggle {
    border: none;
    color: @primarycolor;
    padding-bottom: 0;

    &:focus, &:hover {
        border: none;
    }
}

.edit-post-layout__content {
    background-color: fade(@whitecolor, 90%);
}

@media (min-width: 782px) {
    .block-editor__container {
        min-height: calc(100vh - @adminbarheight);
    }

    .edit-post-header {
        top: @adminbarheight;
    }

    .edit-post-sidebar {
        top: (@adminbarheight + 56);
    }
}

@media (min-width: 600px) {
    .edit-post-header {
        top: @adminbarheight;
    }

    .edit-post-sidebar {
        top: (@adminbarheight + 56);
    }
}

// tips

.nux-dot-tip {
    &:before {
        background: fade(@primarycolor, 90%);
    }

    &:after {
        background: @primarycolor;
    }
}

// folded

@media (min-width: 960px) {
    body.auto-fold .edit-post-header {
        left: @sidebarwidth;
    }
}

@media (min-width: 782px) {
    body.auto-fold .edit-post-layout__content {
        margin-left: @sidebarwidth;
    }
}
