/*! 70.widget */

.widget-control-actions {
    padding-top: 15px;
    line-height: 30px;
}

.widget-content .olh-field {
    margin: 13px 0;
}

.widget-content .olh-field p.description {
    padding: 0;
}
